*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
}

body {
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.6;
  background: #0d1117;
}

main {
  width: min(100ch, 100% - 4rem);
  margin-inline: auto;
}

img {
  max-width: 100%;
  display: block;
}

table {
  border-radius: .5rem;
  border-collapse: collapse;
}

th,
td {
  padding: .25rem 1rem;
  border: 1px solid #21262d;
}

th {
  background: #161b22;
}
